.NotFound {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.2);
}

.NotFound .PrimaryButton {
  width: auto;
  height: auto;
}

.PrimaryButtonContainer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}